{% extends 'layouts/error.twig' %}

{% set title = 'Página não encontrada' %}

{% block root_content %}
    <h1>Página não encontrada</h1>
    <p>
      Desculpe, a página que esta procurando não existe.
    </p>
    <br>
    <a href="/">Voltar para página inicial</a>
{% endblock %}
