{% extends 'layouts/error.twig' %}

{% set title = 'Erro' %}

{% block root_content %}
    <h1>Ops. Aconteceu um erro.</h1>
    <p>
      Desculpe-nos pelo inconveniente.
    </p>
    <br>
    <a href="/">Voltar para página inicial</a>
{% endblock %}
